In [2]:
import pandas as pd
import numpy as np

In [10]:
names = ["Greg", "Marcia", "Peter", "Jan", "Bobby", "Cindy", "Cousin Oliver"]
ages = [14, 12, 11, 10, 8, 6, 8]
series = pd.Series([14, 12, 11, 10, 8, 6, 8], index=["Greg", "Marcia", "Peter", "Jan", "Bobby", "Cindy", "Cousin Oliver"])

In [ ]:
#My estimate is that the mean would be somewhere around 10 and the median is 10, the mode is clearly 8
#The variance should be fairly high for this data, probably between 3 and 4
#If cindy turns 7, the mean might rise a bit, the mode would stay the same, as would the median
#The variance should decrease if cindy has a birthday, since all of the ages would get closer to the mean
#If Oliver were replaced with a 1 year old, we would probably get a mean closer to 8, median and mode should remain the same
#The variance would increase significantly, since we would now have a value far from the mean

In [13]:
df = pd.DataFrame({"Age": series})
df

               Age
Greg            14
Marcia          12
Peter           11
Jan             10
Bobby            8
Cindy            6
Cousin Oliver    8

In [14]:
df.describe()

             Age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [15]:
#On the 50th anniversary of The Brady Bunch, four different magazines asked their readers whether they were fans of the show. 
#The answers were: TV Guide 20% fans Entertainment Weekly 23% fans Pop Culture Today 17% fans SciPhi Phanatic 5% fans

#Based on these numbers, what percentage of adult Americans would you estimate were Brady Bunch fans on the 
#50th anniversary of the show?

#It is hard to make a real estimate without knowing the number of people surveyed, and the overall number of readers
#If we assume about 50% of americans read EW, TV guide etc we could probably say about 10% of people are fans
#The SciPhi Phanatic number is very low, but that is a niche publication and it makes sense that readers would not be fans